html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  background: transparent;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  color: #3A3A3A;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 0.375;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 0.8;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
}

li {
  list-style: none;
}

.icon {
  color: #A69483;
}

.text {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: #3A3A3A;
  transition: all 0.5s ease;
}
.text-nav {
  color: #939393;
}
.text-nav:hover {
  color: #3A3A3A;
  font-weight: bold;
}
.text-button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.text-category:hover {
  color: white;
}

.logo {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  color: #3A3A3A;
}
.logo-u {
  font-family: "Parisienne", cursive;
  font-size: 24px;
}

.play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button {
  opacity: 0;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  color: #A69483;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s;
}
.play-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play:hover .play-button {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 48px;
  }
}
.header {
  margin-top: 50px;
}
.header-logo {
  margin-bottom: 96px;
}
.header-main {
  display: flex;
}
.header-left {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.header-left-content {
  flex: 1;
  display: flex;
}
.header-left-icons ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.header-left-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.header-left-title .rotate {
  position: relative;
  flex: 1;
}
.header-left-title .rotate h1 {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}
.header-left-title .page {
  text-align: center;
  margin-bottom: 60px;
}
.header-left-title .page p {
  font-weight: bold;
  word-spacing: 15px;
}
.header-left-title .page-max {
  color: #A69483;
}
.header-right {
  flex: 1;
}
.header-right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #EBDBCC;
  margin-bottom: 60px;
}
.header-right .navigation ul,
.header-right .user-icons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 56px;
}
.header-right-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 46px 46px;
}
.header-right-content a:first-of-type {
  background-color: #CDBDAE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right-content-button {
  background-color: #CDBDAE;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.header-right-content-button p {
  background-color: #A69483;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .header-left-title .page {
    margin-bottom: 10px;
  }
  .header-right-nav {
    margin-bottom: 30px;
  }
  .header-right .navigation ul,
.header-right .user-icons ul {
    gap: 0 28px;
  }
  .header-right-content {
    gap: 23px 23px;
  }
}
@media screen and (max-width: 767px) {
  .header-left-title {
    display: none;
  }
  .header-right-nav {
    justify-content: flex-end;
  }
  .header-right .navigation {
    display: none;
  }
  .header-right-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header-right-content-button p {
    padding: 50px 0;
  }
  .header-right-logo {
    padding: 50px 0;
  }
}

/*# sourceMappingURL=app.css.map */
