.searchmenu {
  margin-bottom: 48px;
  &-main {
    display: grid;
    background-color: $brown-light;
    border-radius: 10px;
  }
  &-content {
    grid-area: 1 / 3 / 2 / 12;
    &-heading {
      padding: 120px 0 62px 48px;
    }
    &-body {
      padding-bottom: 46px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-category {
    display: flex;
    align-items: center;
    &-items {
      margin: 0 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 72px;
    }
  }
  &-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 80px;
    &-form {
      padding: 14px;
      background-color: white;
      &-input {
        width: 200px;
        border: 0;
      }
      &-button {
        border: 0;
        background-color: transparent;
      }
    }
    &-icons {
      padding-right: 20px;
    }
    &-items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 42px;
    }
  }

  @include maxw(1023px) {
    &-content {
      grid-area: 1 / 2 / 2 / 12;
      &-heading {
        padding: 80px 0 44px 48px;
      }
    }
    &-category {
      padding-left: 20px;
      &-items {
        margin: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
      }
    }
    &-fields {
      gap: 0 24px;
    }
  }

  @include maxw(767px) {
    &-content {
      &-body {
        justify-content: center;
        flex-direction: column;
        gap: 24px 0;
      }
    }
    &-category {
      padding-left: 0;
    }
    &-fields {
      flex-direction: column;
      gap: 24px 0;
      &-form {
        padding: 14px;
        background-color: white;
        &-input {
          width: 200px;
          border: 0;
        }
        &-button {
          border: 0;
          background-color: transparent;
        }
      }
      &-icons {
        padding-right: 20px;
      }
      &-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 42px;
      }
    }
  }
}
